/* You can add global styles to this file, and also import other style files */
$icon-font-path: '../node_modules/bootstrap-sass/assets/fonts/bootstrap/';
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';
$fa-font-path: '../node_modules/font-awesome/fonts';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/angular2-toaster/toaster';
@import '../node_modules/@swimlane/ngx-datatable/release/themes/material.css';
@import '../node_modules/@swimlane/ngx-datatable/release/assets/icons.css';
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/material-design-icons/iconfont/material-icons.css";

html, body {
  height: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

[hidden] {
  display: none !important;
}

.ng-valid[required], .ng-valid.required {
  border-left: 5px solid $state-success-text; /* green */
}

.ng-dirty.ng-invalid:not(form) {
  border-left: 5px solid $state-danger-text; /* red */
}

.form-control, .btn {
  border-radius: 0;
}

.toast-top-right {
  top: 50px;
  right: 15px;
}

.toast-close-button {
  position: absolute;
  top: -1px;
  right: 4px;
}

.ngx-datatable.material {
  @include box-shadow(0 0px 0px 0px rgba(0, 0, 0, 0.12));

  .datatable-body .datatable-body-row {
    .datatable-body-cell, .datatable-body-group-cell {
      padding-top: 1.4rem;
      padding-bottom: 1.4rem;

      &.button {
        padding-top: .5rem;
        padding-bottom: .5rem;
      }
    }
  }

  &.footter-hidden .datatable-pager {
    display: none;
  }
}

.material-icons {
  &.success {
    color: $state-success-text;
  }

  &.danger {
    color: $state-danger-text
  }
}
