<div class="container">
  <div class="row">
    <div class="col-sm-12 form-group">
      <div class="text-center">
        <h1>Change Password</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="row">
        <div class="col-sm-12">
          <form class="form"
                name="form"
                (ngSubmit)="changePassword(form)"
                novalidate
                #form="ngForm">

            <div class="form-group">
              <label class="sr-only control-label"
                     for="newPassword">Current Password</label>
              <input type="password"
                     name="password"
                     class="form-control"
                     [(ngModel)]="data.oldPassword"
                     required
                     placeholder="Current Password"
                     #oldPassword="ngModel"/>
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="oldPassword.invalid && (oldPassword.touched || form.submitted)">
                  {{ message.password.requiredSimple }}
                </p>
              </div>

            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="newPassword">New Password</label>
              <input type="password"
                     name="newPassword"
                     id="newPassword"
                     class="form-control"
                     [(ngModel)]="data.newPassword"
                     minlength="8"
                     maxlength="128"
                     required
                     #newPassword="ngModel"
                     placeholder="New Password"/>
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="newPassword.invalid && (newPassword.touched || form.submitted)">
                  {{ message.password.required }}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="confirmPassword">Confirm New Password</label>
              <input type="password"
                     id="confirmPassword"
                     name="confirmPassword"
                     class="form-control"
                     validateEqual="newPassword"
                     required
                     [(ngModel)]="data.confirmPassword"
                     placeholder="Repeat Password"
                     #confirmPassword="ngModel">
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="confirmPassword.invalid && (confirmPassword.touched || form.submitted)">
                  {{ message.confirmPassword.match }}
                </p>
              </div>
            </div>

            <button class="btn btn-primary"
                    type="submit">Save changes
            </button>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
