<div class="container">
  <div class="row">
    <div class="col-sm-offset-4 col-sm-4">
      <div class="row">
        <div class="col-sm-12 form-group">
          <h1 class="text-capitalize">{{type}} Record</h1>
        </div>
        <div class="col-sm-12">
          <form class="form"
                name="form"
                #form="ngForm"
                (ngSubmit)="save(form)"
                novalidate>
            <div class="form-group">
              <label class="sr-only control-label"
                     for="date">Date</label>
              <input type="text"
                     name="date"
                     id="date"
                     class="form-control"
                     [(ngModel)]="data.date"
                     required
                     #date="ngModel"
                     placeholder="Date"
                     [matDatepicker]="myDatepicker">
              <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
              <mat-datepicker #myDatepicker></mat-datepicker>
              <div class="has-error">
                <div class="has-error">
                  <p class="help-block"
                     *ngIf="date.invalid && (date.touched || form.submitted)">
                    {{ message.date.required }}
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="distance">Distance</label>
              <input type="text"
                     name="distance"
                     id="distance"
                     class="form-control"
                     [(ngModel)]="data.distance"
                     required
                     pattern="^[1-9][0-9]*$"
                     placeholder="Distance"
                     #distance="ngModel"/>
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="distance.invalid && (distance.touched || form.submitted)">
                  {{ message.distance.required }}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="time">Time</label>
              <input type="text"
                     id="time"
                     name="time"
                     class="form-control"
                     required
                     [(ngModel)]="data.time"
                     pattern="^([0-9]|0[0-9]|1[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]$"
                     placeholder="Time"
                     #time="ngModel">
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="time.invalid && (time.touched || form.submitted)">
                  {{ message.period.required }}
                </p>
              </div>
            </div>

            <div class="form-group">
              <button class="btn btn-primary btn-register"
                      type="submit">
                Submit
              </button>
              <button class="btn btn-default btn-register"
                      (click)="cancel()"
                      type="button">
                Cancel
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>