<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle"
              type="button"
              (click)="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/"
         class="navbar-brand">Jogging App
      </a>
    </div>
    <div [collapse]="isCollapsed"
         class="navbar-collapse collapse"
         id="navbar-main">
      <ul *ngIf="userInfo.isAuthorized"
          class="nav navbar-nav">
        <li *ngFor="let item of menu"
            routerLinkActive="active">
          <a routerLink="{{item.link}}">{{item.title}}</a>
        </li> <!--todo: remove all hidden-->
        <li *ngIf="userInfo?.isAdmin"
            routerLinkActive="active">
          <a routerLink="/admin">Admin</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right"
          *ngIf="!userInfo.isAuthorized">
        <div class="col-sm-12">
          <form class="navbar-form navbar-right form"
                #loginForm="ngForm"
                novalidate
                (ngSubmit)="login(loginForm)">
            <div class="form-group">
              <label class="sr-only"
                     for="email">Email address</label>
              <input type="email"
                     class="form-control"
                     name="email"
                     required
                     email
                     [(ngModel)]="model.email"
                     id="email"
                     placeholder="Email">
            </div>
            <div class="form-group">
              <label class="sr-only"
                     for="password">Password</label>
              <input type="password"
                     class="form-control"
                     name="password"
                     required
                     [(ngModel)]="model.password"
                     id="password"
                     placeholder="Password">
            </div>
            <button type="submit"
                    class="btn btn-primary">Log in
            </button>
          </form>
        </div>
      </ul>
      <ul class="nav navbar-nav navbar-right"
          *ngIf="userInfo.isAuthorized">
        <li>
          <p class="navbar-text">{{userInfo.user.firstName}} {{userInfo.user.lastName}}</p>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/settings">
            <span class="glyphicon glyphicon-cog"></span>
          </a>
        </li>
        <form class="navbar-form navbar-right">
          <button type="button"
                  class="btn btn-default"
                  (click)="logout()">Logout
          </button>
        </form>
      </ul>
    </div>
  </div>
</div>
<div class="navbar navbar-default navbar-static-top"></div>