<div class="container">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6">
      <div class="row">
        <div class="col-sm-12 form-group">
          <h1>Create an account</h1>
        </div>
        <div class="col-sm-12">
          <form class="form"
                name="form"
                #signupForm="ngForm"
                (ngSubmit)="register(signupForm)"
                novalidate>
            <div class="row">
              <div class="form-group col-sm-6">
                <label class="sr-only control-label"
                       for="firstName">First name</label>
                <input type="text"
                       name="firstName"
                       id="firstName"
                       class="form-control"
                       [(ngModel)]="data.firstName"
                       required
                       #firstName="ngModel"
                       placeholder="First name">
                <div class="has-error">
                  <p class="help-block text-nowrap"
                     *ngIf="firstName.invalid && (firstName.touched || signupForm.submitted)">
                    {{ message.firstName.required }}
                  </p>
                </div>
              </div>

              <div class="form-group col-sm-6">
                <label class="sr-only control-label"
                       for="lastName">Last name</label>
                <input type="text"
                       name="lastName"
                       id="lastName"
                       class="form-control"
                       [(ngModel)]="data.lastName"
                       required
                       #lastName="ngModel"
                       placeholder="Last name">
                <div class="has-error">
                  <p class="help-block text-nowrap"
                     *ngIf="lastName.invalid && (lastName.touched || signupForm.submitted)">
                    {{ message.lastName.required }}
                  </p>
                </div>
              </div>

            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="email">Email</label>
              <input type="email"
                     name="email"
                     id="email"
                     class="form-control"
                     [(ngModel)]="data.email"
                     email
                     required
                     #email="ngModel"
                     placeholder="Email">
              <div class="has-error">
                <div class="has-error">
                  <p class="help-block"
                     *ngIf="email.invalid && (email.touched || signupForm.submitted)">
                    {{ message.email.shape }}
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="password">Password</label>
              <input type="password"
                     name="password"
                     id="password"
                     class="form-control"
                     [(ngModel)]="data.password"
                     minlength="8"
                     maxlength="128"
                     required
                     placeholder="Password"
                     #password="ngModel"/>
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="password.invalid && (password.touched || signupForm.submitted)">
                  {{ message.password.required }}
                </p>
              </div>
            </div>

            <div class="form-group">
              <label class="sr-only control-label"
                     for="confirmPassword">Confirm Password</label>
              <input type="password"
                     id="confirmPassword"
                     name="confirmPassword"
                     class="form-control"
                     validateEqual="password"
                     required
                     [(ngModel)]="data.confirmPassword"
                     placeholder="Repeat Password"
                     #confirmPassword="ngModel">
              <div class="has-error">
                <p class="help-block text-nowrap"
                   *ngIf="confirmPassword.invalid && (confirmPassword.touched || signupForm.submitted)">
                  {{ message.confirmPassword.match }}
                </p>
              </div>
            </div>

            <div>
              <button class="btn btn-primary btn-register"
                      type="submit">
                Create an account
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-sm-offset-3 col-sm-9">
      <h1>Existing accounts</h1>
      <p>Default account is <code>test@example.com</code> / <code>test</code></p>
      <p>Admin account is <code>admin@example.com</code> / <code>admin</code></p>
    </div>
  </div>
</div>
