<header class="hero-unit"
        id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Universal & Node</p>
    <img src="assets/images/angular-universal.png" alt="I'm Dmitry D. module">
    <img src="assets/images/nodejs-logo.png" alt="I'm Dmitry D. module">
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6"
          *ngFor="let thing of things">
        <li>
          <a [tooltip]="thing.info">
            {{thing.name}}
            <button type="button"
                    class="close"
                    (click)="removeThing(thing)">&times;
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
