<div class="container">
  <div class="row">
    <div class="col-sm-1">
      <div class="form-group">
        <button mat-fab
                color="basic"
                (click)="addRecord()">
          <i class="material-icons">add</i>
        </button>
      </div>
    </div>
    <div class="col-sm-11">
      <div>
        <ngx-datatable class="material ngx-datatable fullscreen scroll-vertical footter-hidden"
                       style="height: 100%"
                       [rows]="records"
                       [columnMode]="'standard'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [sorts]="[{prop: 'date', dir: 'asc'}]">
          <ngx-datatable-column name="Date"
                                prop="date">
            <ng-template let-column="column"
                         ngx-datatable-header-template>
              <strong>{{column.name}}</strong>
            </ng-template>
            <ng-template let-value="value"
                         ngx-datatable-cell-template>
              {{value | date: 'dd.MM.yyyy' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Distance (Meters)"
                                width="100"
                                prop="distance">
          </ngx-datatable-column>
          <ngx-datatable-column name="Time"
                                prop="period">
            <ng-template let-value="value"
                         ngx-datatable-cell-template>
              {{value | date: 'HH:mm:ss' : 'UTC' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column width="100"
                                name="Average speed">
            <ng-template let-column="column"
                         ngx-datatable-header-template>
              <div>{{column.name}}</div>
              <span>(Km/hr)</span>
            </ng-template>
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              {{ row.distance / row.period * 3600 | number : '.1-2' }}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Edit"
                                cellClass="button"
                                [width]="'60'">
            <ng-template let-column="column"
                         ngx-datatable-header-template>
              <p class="text-center">{{column.name}}</p>
            </ng-template>
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              <button mat-icon-button
                      (click)="editRecord(row)">
                <i class="material-icons success">edit</i>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Edit"
                                cellClass="button"
                                width="60">
            <ng-template let-column="column"
                         ngx-datatable-header-template>
              <p class="text-center">{{column.name}}</p>
            </ng-template>
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              <button mat-icon-button
                      (click)="removeRecord(row)">
                <i class="material-icons danger">delete_sweep</i>
              </button>
            </ng-template>
          </ngx-datatable-column>
          <!--<ngx-datatable-footer>
            <ng-template let-row="row" ngx-datatable-footer-template>
              <button mat-icon-button><i class="material-icons danger">delete_sweep</i></button>
            </ng-template>
          </ngx-datatable-footer>-->
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>