<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div>
        <ngx-datatable class="material ngx-datatable fullscreen scroll-vertical footter-hidden"
                       style="height: 100%"
                       [rows]="data"
                       [columnMode]="'standard'"
                       [headerHeight]="50"
                       [footerHeight]="50"
                       [rowHeight]="50"
                       [sorts]="[{prop: 'week', dir: 'asc'}]">
          <ngx-datatable-column name="Week"
                                prop="week">
          </ngx-datatable-column>
          <ngx-datatable-column name="Average distance (Meters)"
                                prop="distance">
          </ngx-datatable-column>
          <ngx-datatable-column name="Average Spped (Km/hr)">
            <ng-template let-row="row"
                         ngx-datatable-cell-template>
              {{ row.distance / row.period * 3600 | number : '.1-2' }}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>